h1{
    text-decoration: wavy #ff45ff;
}
section{ 
    font family: Be Vietnam;
    text-decoration: wavy; #ff45ffl;
    text-weight: normal;
    text-align: center;
}
nav{
    text-align: right;
}
span{
    align-items: right;
}p{ font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}